#logo {
  display: inline-block;
  height: 100px;
  width: 250px; /* correct proportions to specified height */
}

.background-image {
  background-image: url("../image/scary.jpg");
  /* opacity: 0.5; */
  height: max-content;
  background-size: cover;
  background-position: center;
}

.image img {
  height: 160px;
  width: 120px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#card-tiles li {
  float: left;
}

#movie:hover {
  cursor: pointer;
}

#card-list-item {
  width: 120px;
  height: auto;
  text-align: left; 
  display: inline-block !important;
}
/* --------------Modal-------------- */
.box {
  height: auto;
  width: 75vw;
  max-width: 100%;
}

.modal-content {
  max-width: 100%;
  overflow-x: hidden;
}

/* --------------Recently Viewed List-------------- */
.is-underlined:hover {
  cursor: pointer;
  color: red;
}