#logo {
    display: inline-block;
    height: 100px;
    width: 250px; /* correct proportions to specified height */ 
}

.background-image {
 background-image: url("../scary.jpg");
 opacity: .5;
 background-size: cover;
 background-position: center;

}

footer {
  font-size: xx-large;
  font-weight: 500;
  font-weight: bolder;
  text-align: center;
}